.*swp
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.tar.gz
*.trs
.deps/
.dirstamp
.libs/
/Doxyfile
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/html
/libtool
/stamp-h1
/stamp-html
Makefile
Makefile.in
TAGS
fstrm/libfstrm.pc
